* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
@media (max-width: 592px) {
  .cardProduto {
    width: 250px;
    height: 346px;
    margin-left: 16px;
    margin-top: 15px;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
  }

  .foto {
    background-color: #f5f5f5;
    height: 150px;
    width: 243px;
  }

  .foto > img {
    height: 163px;
  }

  .informacoes > h2 {
    margin-top: 14px;
  }

  .informacoes > p {
    margin-top: 13px;
    margin-bottom: 13px;
    color: #828282;
  }

  .informacoes > .price {
    color: #27ae60;
  }
}

/*FORAMATAÇÃO NORMAL*/
@media (min-width: 592px) {
  .cardProduto {
    width: 260px;
    height: 346px;
    margin-left: 16px;
    margin-top: 15px;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
  }

  .foto {
    background-color: #f5f5f5;
    height: 150px;
    width: 256px;
  }

  .foto > img {
    height: 140px;
  }

  .informacoes > h2 {
    margin-top: 14px;
    font-size: 20px;
  }

  .informacoes > p {
    margin-top: 13px;
    margin-bottom: 13px;
    color: #828282;
  }

  .informacoes > .price {
    color: #27ae60;
  }
}
