.botao {
  width: 100wh;
  height: 40px;
  border-radius: 8px;
  font-size: 11.5px;
  padding: 0px 20px 0px 20px;
  background-color: #27ae60;
  color: white;
  border: 2px solid #27ae60;
}

.botao:hover {
  cursor: pointer;
  background-color: #93d7af;
}
