* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

/*MOBILE FIRST*/
@media (max-width: 591px) {
  /*CABECALHOOO*/
  .header {
    width: 100%;
    height: 139px;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    color: #eb5757;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14.28px;
    padding-bottom: 14px;
  }
  .titulo {
    margin-right: 10px;
    color: #333333;
  }

  input {
    width: 80%;
    height: 60px;
    border: transparent none;
  }
  .containerHeader {
    display: flex;
    flex-direction: row;
    border: solid #e0e0e0 2px;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    padding: 0px 10px 0px 15px;
    width: 90%;
    justify-content: space-between;
  }
}

/*DESKTOP*/
/*CABECALHOOO*/
@media (min-width: 592px) {
  .header {
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .logo {
    color: #eb5757;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14.28px;
    padding-bottom: 14px;
  }
  .titulo {
    margin-right: 10px;
    color: #333333;
  }

  input {
    min-width: 100px;
    height: 60px;
    border: transparent none;
  }

  .containerHeader {
    display: flex;
    flex-direction: row;
    border: solid #e0e0e0 2px;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    padding: 0px 10px 0px 15px;
    width: 400px;
    justify-content: space-between;
  }
}
