* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}



@media (max-width: 591px) {

  .header {
    width: 100%;
    height: 139px;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


@media (min-width: 592px) {
  .header {
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

}
