.resultado {
  border-top: 2px solid #ddd;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 10px 12px;
  width: 100%;
  /* background-color: #27ae60; */
  background-color: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}