* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.App {
  text-align: center;
}

@media (min-width: 592px) {
  .corpo {
    display: flex;

    justify-content: space-around;
  }
}
